* {
    padding: unset;
    margin: unset;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*Inherit fonts for form controls*/
input,
button,
textarea,
select {
    font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}


#header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
#header-container button{
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: unset;
    background-color: #1313a1;
    color: #fff;
    transition: .5s ease-in-out;
}
#header-container button:hover{
    background-color: #2626cd;
}
#book-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 4rem;

}

.book-card {
    width: 140px;
    background-color: #2d3339;
    color: #fff;
    padding: 1rem;
    box-shadow: 12px 7px 10px -1px rgba(0, 0, 0, 0.2);
}

.book-card h3 {
    text-align: center;
}

.book-card-body {
    padding: .5em 1em;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.button-container button {
    transition: .5s ease-in-out;
    outline: unset;
    border: unset;
    color: #fff;
}

.delete-btn {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: rgb(154, 13, 13);
    padding: 4px 8px;
    /*Center "X"*/
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    cursor: pointer;
}
.read-btn {
    width: 100px;
    border-radius: 4px;
}

.delete-btn:hover {
    background-color: rgb(209, 14, 14);
}

#info-label {
    font-weight: 600;
}

#add-book-modal{
    margin: auto;
    padding: 1rem;
}
#close-btn{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
#modal-button-container{
    display: flex;
    justify-content: end;
}