* {
    padding: unset;
    margin: unset;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*Inherit fonts for form controls*/
input,
button,
textarea,
select {
    font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

h1 {
    text-align: center;
    margin: 2rem 0;
}

#book-container {
    display: flex;
    flex-wrap: wrap;
    border: 2px dashed black;
    gap: 2rem;
    padding: 0 4rem;

}

.book-card {
    outline: 1px solid red;
    width: 140px;
    background-color: #ccc;
    padding: 8px 12px;
}

.book-card h3 {
    text-align: center;
}

.book-card-body {
    padding: .5em 1em;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.button-container button {
    transition: .5s ease-in-out;
    outline: unset;
    border: unset;
    color: #fff;
}

.delete-btn {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: rgb(154, 13, 13);
    padding: 4px 8px;
    /*Center "X"*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.read-btn {
    width: 100px;
    background-color: rgb(55, 129, 55);
    border-radius: 4px;
}

.read-btn:hover {
    background-color: rgb(53, 158, 53);
}

.delete-btn:hover {
    background-color: rgb(209, 14, 14);
}

#info-label {
    font-weight: 600;
}